name: test

on:
  push:
    branches:
      - master
      - develop
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: test-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - uses: anton-v-mi/common-test-test-action@master
      - name: Tst
        run: |
          ls -la
