name: test

on:
  push:
    branches:
      - master
      - develop
      - main
  pull_request:
  workflow_dispatch:

concurrency:
  group: test-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
      # Example for other repos:
      # - uses: Private-Crypto-Trading-Fund/midas-dev/.github/common_test@master
      - uses: actions/checkout@v3
      - uses: ./.github/common_test
